{% extends "../_layout.twig" %}
{% set pageTitle = 'News page' %}

{% set news = [
	{
		id: 1,
		header: "Cоревнования памяти Марии Цукановой",
		url: "../../assets/images/sportsmen.jpg",
		date: "02.05.2023",
		short_text: "Традиционные соревнования по плаванию, посвящённых памяти Героя Советского союза Марии Цукановой, состоятся 4-5 мая в плавательном бассейне «Кристалл»",
		full_text: ""
	}, {
		id: 2,
		header: "ЛУЧШИЕ МОМЕНТЫ Соревнований 'Первые старты' 22.04.23г.",
		url: "../../assets/images/ontheback.jpg",
		date: "28.04.2023",
		short_text: "Вспомнить как это было и сохраните для себя лучшие моменты соревнований! Переходите по ссылке и ищите себя на фото",
		full_text: ""
	}, {
		id: 3,
		header: "Уже завтра 22 апреля соревнования!",
		url: "../../assets/images/news_compet.jpg",
		date: "21.04.2023",
		short_text: "",
		full_text: "Первый поток возрастная группа 2015 г.р и 2016г.р. и младше (спортсмены/любители) Проходит в верхний гардероб на 2-м этаже. (вход со второго этажа) с 9.40 2015 г.р, 2016г.р. и младше (дети которые выступают на дистанции 25м) заходит в раздевалки номер 1 и 2 и выходит в чашу на формирование заплывов и подготовку к параду (родители проходят на трибуны), в 10.00 парад, старт в 10.10. 
			Дети выступают на дистанции 50 метров проходят с родителями на трибуны и ожидает приглашения главного судьи. После приглашения дети спускаются в раздевалки 1 и 2 и также выходят на формирование заплывов (старт по готовности) . Предварительное время окончания 1 сессии (1 поток) 11.30*. 
			Награждение после программы соревнований 2015 г.р и 2016г.р. и младше по готовности.
			Второй поток возрастная группа 2014 г.р (спортсмены/любители) Проходит также в верхний гардероб на 2-м этаже. (вход со второго этажа) Разминка с 11.35 до 11.55 (заход в раздевалки номер 3 и 4 в 11-30), старт в 12.00*. Награждение будет проводиться после программы соревнований по готовности. Предварительное время окончания 2 сессии (2 поток) 13.30*.
			*Время указано предварительное
			Формирование заплывов проходит между 3 и 4 раздевалками (ориентир на часы со стороны кафе).
			Родители должны быть в сменной обуви(желательно) либо бахилах.
			Детям иметь дополнительную форму для переодевания на время соревнований (шорты, футболка/спорт костюм) .
			Родители проходят и находятся на трибунах, в раздевалки родители не заходят.
			Просьба не кормить детей перед самыми соревнованиями и накануне не употреблять жирную и вредную пищу, с собой рекомендуем взять воду и легкий перекус – например банан. С собой в раздевалку еду давать запрещено.
			Напомните детям сходить в туалет перед стартами. Также обратите внимание своих детей на дисциплину и бережное отношение к имуществу бассейна, за нарушение правил порядка бассейна организатор соревнований в праве отстранить ребенка от соревнований и аннулировать результат. Для упрощения детям можно под одеждой уже одеть плавательный инвентарь (плавки/купальник).
			Будут стоять волонтеры на входе и в раздевалках помогать детям."
	}
] %}

{% block header %}
	{% include '../layouts/_header.twig' %}
{% endblock %}

{% block content %}
	<section class="content">
		<div class="news-page__background">
			<h1>Новости</h1>
			<h3>Следите за нашими новостями,
				<br>акциями и соревнованиями</h3>
			<div class="news-page__cards__container container">
				{% for article in news %}
					<div class="news-page__cards__container__item">
						<a href="/news-detail.html?id={{ article.id }}" class="transition">
							<div>
								<img src="{{ article.url }}" alt="{{ article.header }}">
								<h6>{{ article.header }}</h6>
								<p class="news-page__cards__container__item__date">{{ article.date }}</p>
								<p>{{ article.short_text }}</p>
							</div>
							<span class="text-underlined">Подробнее...</span>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}

{% block footer %}
	{% include '../layouts/_footer.twig' with {} %}
{% endblock %}
