{% extends "../_layout.twig" %}
{% set pageTitle = 'News page' %}


{% block header %}
	{% include '../layouts/_header.twig' %}
{% endblock %}

{% block content %}
	<section class="content">
		<div class="news-page__background">
			<h1>News</h1>
			<h3>Stay updated with our latest news,
				<br>promotions, and competitions</h3>

			<div class="news-page__cards__container container">
				{% for newsItem in news %}
					<div class="news-page__cards__container__item">
						<a href="./news/{{ newsItem._id }}.html" class="transition">
							<div>
								<img src="{{ newsItem.url }}" alt="{{ newsItem.header }}">
								<h6>{{ newsItem.header }}</h6>
								<p class="news-page__cards__container__item__date">{{ newsItem.date }}</p>
								<p>{{ newsItem.description }}</p>
							</div>
							<span class="text-underlined">Read More...</span>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

{% endblock %}

{% block footer %}
	{% include '../layouts/_footer.twig'  %}
{% endblock %}
